@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

.container{
    width: 100%;
    padding: 0;
    margin: 0;
}

.title-card{
    color: aliceblue;
    margin-top: 20vmax;
    padding-left: 12.85vw;
    padding-right: 12.85vw;
}

span{
    background-color:black;
    opacity: .8;
    border-radius: 20px;
    padding: 5px;
    width: 40vw;
    text-align: center;
    font-size: 400%;
    font-family: 'Redressed', cursive;
    

}
