.content{
    margin-top: 3%;
    column-count: 2;
    list-style: none;
}

.image{
    content: url("_oro_ink_.jpg");
    border-radius: 50%;
    height: 60vh;
    width: 30vw;
    margin-left: 13vw;
    margin-right: 13vh;
}

.pCard{
    background-color: black;
    opacity: .8;
    width: 30vw;
    height: 60vh;
    padding: 2%;
    border-radius: 10px;
    position: relative;
    
}

p{
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    
}
